@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("//cdn.web-fonts.ge/fonts/alk-sanet/css/alk-sanet.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-arial/css/bpg-arial.min.css");

@layer base {
    .font-outline-2 {
        -webkit-text-stroke: 2px black;
    }
    .font-outline-4 {
        -webkit-text-stroke: 4px black;
    }
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    background-color: #121212;

}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255 255 255);
    border-radius: 2.5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(200, 200, 200);   
}